
:root {
    --primary-color: #ff5a5f;
    --secondary-color: #4CAF50;
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: whitesmoke;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo a {
    font-size: 48px;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    color: var(--primary-color);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

header nav ul li .upload-btn {
    background-color: #ff5a5f;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.search-bar {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.search-input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.filter-btn {
    background-color: #ddd;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #ccc;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    position: relative;
    width: calc(33.333% - 10px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
   
}

.tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}
.about {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
}

.about h2 {
    font-family: 'Tangerine', serif;
    font-size: 78px;
    text-shadow: 4px 4px 4px #aaa;
    color: #333;
    margin: 30px;
}

.about i {
    margin-bottom: 20px;
}

.about button {
    padding: 10px 20px;
    background-color: #ff5a5f;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Chatbot Button */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5a5f;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-button .material-symbols-outlined {
    font-size: 24px;
    color: #fff;
}

/* Chatbot Modal */
.chatbot-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.chatbot-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chatbot-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatbot-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

.chatbot-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.chatbot-input button {
    margin-left: 10px;
    background-color: #6ad16e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.bot-message, .client-message {
    max-width: 70%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9em;
    line-height: 1.4;
    position: relative;
    display: flex;
    align-items: center;
}

.bot-message {
    background-color: #ff5a5f42;
    align-self: flex-start;
}

.client-message {
    background-color: #6ad16e;
    color: #fff;
    align-self: flex-end;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.options button {
    padding: 10px 20px;
    background-color: #011429;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.options button:hover {
    background-color: #0056b3;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

/* Loader */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Skeleton Loader */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

.selected-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}

.selected-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(5px); */
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    z-index: 2;
}

.overlay-content {
    max-width: 300px;
    text-align: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.overlay-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.overlay-content p {
    margin-bottom: 10px;
    font-size: 1em;
}

.buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 3;
}

#backButton, #interestedButton {
    padding: 10px 20px;
    background-color: #ff5a5f;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    z-index: 3;
}

#interestedButton {
    background-color: #4CAF50;
}
